<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  {% load static %}

</head>
<body>

    <!-- Footer  -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Quick Link</h3>
                        <ul>
                            <li><a href="/home/" title="Home">Home</a></li>
                            <li><a href="/home/" title="About">About</a></li>
                            <li><a href="/home/" title="Shoes">Shoes</a></li>
                            <li><a href="/home/" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Location</h3>
                        <ul>
                            <li><a href="https://www.google.com/maps/place/Rajkot,+Gujarat/@22.273625,70.7388939,12z/data=!3m1!4b1!4m6!3m5!1s0x3959c98ac71cdf0f:0x76dd15cfbe93ad3b!8m2!3d22.3038945!4d70.8021599!16zL20vMDNnbWxx?authuser=0" title="Rajkot">Rajkot</a></li>

                            <li><a href="https://www.google.com/maps/place/Ahmedabad,+Gujarat/@23.0204741,72.4149277,11z/data=!3m1!4b1!4m15!1m8!3m7!1s0x3959c98ac71cdf0f:0x76dd15cfbe93ad3b!2sRajkot,+Gujarat!3b1!8m2!3d22.3038945!4d70.8021599!16zL20vMDNnbWxx!3m5!1s0x395e848aba5bd449:0x4fcedd11614f6516!8m2!3d23.022505!4d72.5713621!16zL20vMDFkODhj?authuser=0" title="Ahmedabad">Ahmedabad</a></li>

                            <li><a href="https://www.google.com/maps/place/Surat,+Gujarat/@21.1594406,72.6574811,11z/data=!3m1!4b1!4m6!3m5!1s0x3be04e59411d1563:0xfe4558290938b042!8m2!3d21.1702401!4d72.8310607!16zL20vMDFoMWhu?authuser=0" title="Surat">Surat</a></li>

                            <li><a href="https://www.google.com/maps/place/Mumbai,+Maharashtra/@19.082502,72.7163707,11z/data=!3m1!4b1!4m6!3m5!1s0x3be7c6306644edc1:0x5da4ed8f8d648c69!8m2!3d19.0759837!4d72.8776559!16zL20vMDR2bXA?authuser=0" title="Mumbai">Mumbai</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Extra Link</h3>
                        <ul>
                            <li><a href="/login/" style="cursor: pointer;">my account</a></li>
                            <li><a href="/addcart/" style="cursor: pointer;">my order</a></li>
                            <li><a style="cursor: pointer;">my favorite</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                    <p>Drop a note.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp &nbsp Rajkot, Gujrat</p>
                    <p><span class="glyphicon glyphicon-phone"></span>&nbsp &nbsp Phone: +91 9876543210</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp &nbsp Email: example1234@mail.com</p>
                 </div>
                </div>
                <p class="copyright"> created by <span> Own-Shoes </span> | all rights reserved </p>
            </div>
        </footer>
    </div>

<!-- Footer End -->


</body>
</html>